In [8]:
import pandas as pd
from keplergl import KeplerGl
import webbrowser
import os

In [9]:
#get data
locations = pd.read_pickle('data/places_4000.pkl')
locations.shape

(3911, 9)

In [10]:
locations.drop(['geo'], axis=1)

,country,country_code,full_name,id,name,place_type,lat,long
0,Deutschland,DE,"Saarbrücken, Deutschland",0c3ccd897a53b270,Saarbrücken,city,49.247108,6.997495
1,Deutschland,DE,"Lohme, Deutschland",307e1ee2cb489e79,Lohme,city,54.582959,13.610955
2,Indien,IN,"Bengaluru South, India",5f55bb82cf16ac81,Bengaluru South,city,12.894797,77.598757
3,Deutschland,DE,"Berlin, Deutschland",3078869807f9dd36,Berlin,city,52.517037,13.388860
4,Österreich,AT,"Wien, Österreich",9f659d51e5c5deae,Wien,city,48.208354,16.372504
...,...,...,...,...,...,...,...,...
3999,Spanien,ES,"Barcelona, Spanien",1a27537478dd8e38,Barcelona,city,41.382894,2.177432
4000,Spanien,ES,"Nambroca, España",57f5ab8dccc3a2be,Nambroca,city,39.797844,-3.944460
4001,Spanien,ES,"Cabra, España",497c847d8289ac5e,Cabra,city,37.471815,-4.433562
4002,Bolivien,BO,Bolivien,c4320f726d222937,Bolivien,country,-17.056870,-64.991229
4003,Vereinigtes Königreich,GB,"Belfast, Northern Ireland",28679b23ed15b380,Belfast,city,54.596391,-5.930183

# Analysis

In [11]:
#create map and add df
map_1 = KeplerGl(height=400, data={'twitter_fff': locations})
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'twitter_fff':                      country country_code                  full_name  \
0       …

In [12]:
#save to html
map_1.save_to_html(file_name='keplergl_map.html')

Map saved to keplergl_map.html!

In [13]:
#open html file in browser for analysis
webbrowser.open('file://' + os.path.realpath('keplergl_map.html'))

True